<html>
<head>
    <link rel="stylesheet" href="~/resources/index.css" />
    <link rel="stylesheet" href="~/resources/Form.css" />
    <title>HN - AVIS LIST</title>
</head>


<body>
    <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />
    <header>
        Liste des avis 
    </header>
    <br />
    <nav>
        <ul>
            <li><a href="/Home/Index/Index">Accueil</a></li>
            <li><a href="/Home/Index/Form">Fill the form</a></li>
        </ul>
    </nav>
</body>
</html>