
@using TPLOCAL1.Models
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using Microsoft.AspNetCore.Mvc.Rendering


<html>

<head>
    <link rel="stylesheet" href="~/resources/index.css" />
    <link rel="stylesheet" href="~/resources/Form.css" />

    <title>HN - FORMULAIRE</title>
</head>


<body>
    <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />
    <header>
        <h1>Page de formulaire</h1>
    </header>
    <br />
    <nav>
        <ul>
            <li><a href="/Home/Index/Index">Accueil</a></li>
            <li><a href="/Home/Index/Avis">Liste des avis</a></li>
        </ul>
    </nav>


    <section>
    <form asp-action="ValidationFormulaire" method="post">

    <table>
        <tr>
            <th colspan="2" align="center">Informations personnelles</th>
        </tr>
        <tbody>
            <tr>
                <td>Nom</td>
                
                <td><input type="text" id="name" name="Name" size="32" placeholder="Entrez votre nom"  />
                </td>
            </tr>
            <tr>
                <td>Prénom</td>
                <td><input type="text" id="forname" name="Forname" size="32" placeholder="Entrez votre prénom" /></td>
            </tr>
            <tr>
                <td>Genre</td>
                <td>
                        <select name="Gender" id="gender">
                            <option value="">Selectionner un genre</option>
                            <option value="Man">Homme</option>
                            <option value="Woman">Femme</option>
                            <option value="Other">Autre</option>
                        </select>
                </td>
            </tr>
            <tr>
                <td>Adresse</td>
                <td><input type="text" id="address" name="Address" size="32" placeholder="Entrez votre adresse" /></td>
            </tr>
            <tr>
                <td>Code postal</td>
                <td><input type="text" id="zip code" name="ZipCode" size="32" placeholder="Entrez votre code postal" /></td>
            </tr>
            <tr>
                <td>Ville</td>
                <td><input type="text" id="town" name="Town" size="32" placeholder="Entrez votre ville" /></td>
            </tr>
            <tr>
                <td>Adresse email</td>
                <td><input type="email" id="email" name="Email" size="32" placeholder="Entrez votre email" /></td>
            </tr>
        </tbody>
    </table>
    <br />
        <table>
        <tr>
            <th colspan="2" align="center">Information sur la formation</th>
        </tr>
        <tbody>
            <tr>
                <td>Date de début</td>
                <td><input type="date" id="date" name="StartDate" required placeholder="Date de début" /></td>
            </tr>
            <tr>
                <td>Type of training</td>
                <td>
                        <select name="Formation" id="Formation">
                            <option value="">Selectionner une formation</option>
                            <option value="Cobol">Formation Cobol</option>
                            <option value="Object">Formation C#</option>
                            <option value="Dual">Double formation</option>
                        </select>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
        <table>
            <tr>
                <th colspan="2" align="center">Avis sur la formation</th>
            </tr>
            <tbody>
                <tr>
                    <td>Formation Cobol</td>
                    <td><input type="text" id="coboltraining" name="CobolTraining" size="32" /></td>
                </tr>
                <tr>
                    <td>Formation C#</td>
                    <td><input type="text" id="purpose" name="CshapTraining"  size="32" /></td>
                </tr>
            </tbody>
        </table>
    <br />
    <input class="Submit" type="submit" value="Submit" />
    </form>
    </section>

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</body>

</html>