body {
}

td, tr {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    text-align: center;
    border: none;
}

table {
    width: 30%;
}

    table input {
        width: 100%;
    }
.style1{
    font-weight: bold;
}